<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Form User</h1>
        <form id="form">
            <div class="form-group">
                <label>Username</label>
                <input type="text" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label>Firstname</label>
                <input type="text" id="firstname" class="form-control">
            </div>
            <div class="form-group">
                <label>Lastname</label>
                <input type="text" id="lastname" class="form-control">
            </div>
            <button type="submit" id="save" class="btn btn-primary">Save</button>
            <a href="/dashboard" class="btn btn-secondary">Back</a>
        </form>
    </div>

    <script>
        let id = '<%= id %>'
        let method = id === '' ? 'POST' : 'PUT'
        let usernameInput = document.getElementById("username")
        let passwordInput = document.getElementById("password")
        let firstnameInput = document.getElementById("firstname")
        let lastnameInput = document.getElementById("lastname")

        let form = document.getElementById("form")
        form.onsubmit = function(e) {
            e.preventDefault()
            let username = usernameInput.value
            let password = passwordInput.value
            let firstname = firstnameInput.value
            let lastname = lastnameInput.value

            fetch(`/api/v1/usergame/${id}`, {
                method: method,
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    username : username,
                    password : password,
                    firstname : firstname,
                    lastname : lastname,
                })
            }).then(() => {
                window.location.href = "/dashboard"
            })
        }

        // fetch(`/api/v1/usergamebiodata`)
        // .then(raw => raw.json())
        // .then(data => {
        //     for (let i in data) {
        //         let category = data[i]
        //         categoryInput.innerHTML += `<option value="${category.id}">${category.name}</option>`
        //     }

            if (id !== '') {
                fetch(`/api/v1/usergame/${id}`)
                .then(raw => raw.json())
                .then(data => {
                    console.log(data)
                    usernameInput.value = data.username
                    passwordInput.value = data.password
                    firstnameInput.value = data.usergamebiodata.firstname
                    lastnameInput.value = data.usergamebiodata.lastname
                })
            }
        // })
    </script>
</body>
</html>