<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="row">
        <div class="col-1">
        <a href="/dashboard/users/form" class="btn btn-primary">Create</a>
        </div>
        <form class="col-4" method="get" action="/dashboard/logout" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>

    <script>
        fetch("/api/v1/usergame", {
            method: "GET"
        }).then(res => res.json())
            .then(data => {
                let body = document.getElementById("body")
                for (let i in data) {
                    let user = data[i]
                    body.innerHTML += `<tr>
                    <td>${user.id}</td>    
                    <td>${user.username}</td>    
                    <td>${user.password}</td>    
                    <td>${user.usergamebiodata?.firstname}</td>    
                    <td>${user.usergamebiodata?.lastname}</td>
                    <td>
                        <a href="/dashboard/users/form/${user.id}">Edit</a>
                        <a href="/api/v1/usergame/${user.id}" class="delete">Delete</a>
                    </td>  
                </tr>`
                }
            })

        document.body.addEventListener('click', (e) => {
            if (e.target.classList.contains("delete")) {
                e.preventDefault()
                fetch(e.target.href, {
                    method: "DELETE"
                }).then(() => {
                    window.location.reload()
                })
            }
        })
    </script>
</body>

</html>